*{
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: 0;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/


    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


hr{
    margin: 10px 200px;
    border-color: #eeeeee;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}






/* ZOOM */
#zoom {
    transition: transform .2s; 
    }
    #zoom:hover {
    transform: scale(1.1); 
    }
    #zoom:hover {
    transform: scale(1.1); 
    }
    #zoom {
    transition: transform .2s; 
    }
/* ZOOM */





/*HEADLINE*/
    .headline{
        width: 100%;
        z-index: 1000;
        position: fixed;
        top: 0;
    }
        /*BARRA DE ANUNCIOS*/
        .box_ads{
            width: 100%;
            height: 38px;
            overflow: hidden;
        }
            .box_ads ul{
                display: flex;
                margin: 0;
                padding: 0;
                width: 400%;
                animation: slide1 20s infinite alternate ease-in-out;
            }
            .box_ads li{
                width: 100%;
                list-style: none;
                position: relative;
            }
            .box_ads img{   
                margin: 0;
                width: 100%;
                position: relative;
                
            }

            @keyframes slide1 {
                0% {margin-left: 0;}
                20% {margin-left: 0;}

                25% {margin-left: -100%;}
                45% {margin-left: -100%;}

                50% {margin-left: -200%;}
                70% {margin-left: -200%;}

                75% {margin-left: -300%;}
                100% {margin-left: -300%;}
            } 
    /*BARRA DE ANUNCIOS*/

    /*HEADLINE*/
    .headline nav{
        background-color: #fff;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .headline nav div{
            display: flex;
            align-items: center;
        }
            .headline nav div img{
                height: 55px;
                margin: 0 70px;
            }
            .headline nav div li{
                list-style: none;
            }
                .headline nav div li a{
                    font-weight: 400;
                    text-decoration: none;
                    margin: 20px;
                    color: #18377A;
                }

        .headline nav .call_action1 button{
            color: #fff;
            margin: 0 70px;
            height: 50px;
            width: 200px;
            border-radius: 50px;
            background-color: #09BB1B;
            border: none;
            font-weight: bold;
            font-size: large;
        }
            .headline nav .call_action1 button:hover{
                background-color: #18377A;
                color: #fff;
            }

    .menu{
        background-color: #18377A;
        height: 40px;
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
        .menu li{
            list-style: none;
            width: 1200px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .menu li a{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            font-size: 14pt;
            padding: 8px 30px;
            height: 30px;
            width: 180px;
        }

        .menu li button{
            text-decoration: none;
            color: #fff;
            font-size: 14pt;
            background-color: #18377A;
            border: 0;
            height: 30px;
            width: 180px;
        }
        .menu li button:hover{
            color: #fff;
            background-color: #E6BD5C;
            height: 30px;
        }

        .menu li :hover{
            background-color: #E6BD5C;
        }
        
    .hover :hover{
            background-color: #E6BD5C;
        }
/*HEADLINE*/



/* WHATSAPP_BUTTON */
    .boton_whatsapp{
        z-index: 100;
        position: fixed;
        bottom: 25px;
        right: 25px;
    }  
        .boton_whatsapp a img{
            width: 90px;
        }

        .boton_whatsapp a img:hover {
            transition: transform .2s ease-in-out;
            transform: scale(1.1); 
        }
/* WHATSAPP_BUTTON */





/*FOOTER*/
footer{
    background-color: #18377A;
    color: #fff;
    padding: 30px 100px;
}  
/*CUADRO DE CONTACTO Y MAPA*/
.form_box{
    width: 100%;
    height: 600px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center ;
}
    .form_box iframe{
        width: 900px;
        height: 580px;
    }
    .form_box .map{
        width: 1800px;
        height: 580px;
    }

    .contact-form{
        width: 600px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .contact-form h3{
            margin: 20px 0 10px 0 ;
            text-align: center;
            font-size: 24pt;
            font-weight: 700;
        }
        .contact-form h5{
            text-align: center;
            font-size: 12pt;
            font-weight: 400;
        }
        .contact-form form{
            display: flex;
            margin: 20px 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
            .contact-form form p{
                margin: 6px;
            }
                ::placeholder{
                    color: #A6A6A6;
                    font-weight: 500;
                    font-size: 15pt;
                }
                .contact-form form input{
                    width: 500px;
                    height: 50px;
                    padding: 17px 25px;
                    background-color:#fff;
                    border: none;
                    font-size: 20px;
                }
                .contact-form form p textarea{
                    width: 500px;
                    height: 100px;
                    padding: 10px 25px;
                    border-radius: 25px;
                    background-color:#fff;
                    border: none;
                    font-size: 20px;
                }
            .contact-form form button{
                width: 180px;
                height: 50px;
                font-size: 20px;
                border-radius:  30px;
                font-weight: bold;
                padding: auto;
                background-color: #E6BD5C;
                border: 0 solid;
                color: #18377A;
            }
            .contact-form form div p button:hover{
                background-color: white   ;
            }
/*CUADRO DE CONTACTO Y MAPA*/

footer hr{
    border-color: #284585;
}

/*INFORMACIÓN DE CONTACTO*/
.contact-info{
margin: 100px 130px 0;
display: flex;
justify-content: space-between;
}    
.contact-info .logo_redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .contact-info .logo_redes .logo_wht{
        height: 150px;
    }
    .contact-info .logo_redes a img{
        height: 50px;
        margin: 20px;
        margin-top: 30px;
    }
    
    
.column_info{
    width: 200px;
    display: flex;
    flex-direction: column;
}
    .column_info h3{
        font-size: 14pt;
    }
    .column_info .info_box{
        width: 300px;
        height: 150px;
    }
        .column_info .info_box ul li{
            list-style: none;
            padding-left: 8px;

        }
        .column_info .info_box ul a{
            color: #fff;
            text-decoration: none;
        }
        .column_info .info_box ul{
            margin: 0; 
        }
        .column_info .info_box ul div{
            margin-right: 8px;
        }
        .column_info .info_box ul button{
            margin: 5px;
            width: 200px;
            height: 30px;
            font-size: 11pt;
            border-radius: 25px;
            background-color: #E6BD5C;
            color: #18377A;
            font-weight: bold;
            border: 0;
        }
            .column_info .info_box ul button:hover{
                background-color: #fff;
            }
        .column_info .tel_box{
            width: 300px;
            height: 150px;
        }

        .column_info .tel_box ul{
            text-decoration: none;
            display: flex;
        }   
            .column_info .tel_box ul .tel_1{
                margin-left: 10px;
            }
            .column_info .tel_box ul .tel_2{
                margin-left: 25px;
            }
                .column_info .tel_box ul div a{
                    color: #fff;
                    list-style: none;
                }
.column_info .info_box .bancos{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 15px;
}
.column_info .info_box div .bcp{
    height: 40px;
    margin-left: 10px;
}
.column_info .info_box div .bbva{
    height: 40px;
    margin-left: 10px;
    margin-top: 15px;
}






.footer{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
width: 100%;
height: 30px;
background-color: black;
color: #fff;
}
.footer P{  
    margin: 0;
}



/* Zomm ----------*/ 


