/*HERO*/
.slider-box{
    width: auto;
    height: 800px;
    margin: auto 0;
    overflow: hidden;
    
}
    .slider-box ul{
        margin: 158px 0 0 0;
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 20s infinite alternate ease-in-out;
    }
    .slider-box li{
        width: 100%;
        list-style: none;
        position: relative;
    }
    .slider-box img{
        width: 100%;
        height: 100%;
        position: relative;
        
    }

    @keyframes slide {
        0% {margin-left: 0; }
        20% {margin-left: 0; }

        25% {margin-left: -100%;}
        45% {margin-left: -100%;}

        50% {margin-left: -200%;}
        70% {margin-left: -200%;}

        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }  


/*HERO_1*/
.slider-box_1{
    width: auto;
    height: auto;
    margin: auto 0;
    overflow: hidden;
    
}
    .slider-box_1 ul{
        display: flex;
        padding: 0;
        width: 100%;
        animation: slide 5s infinite alternate ease-in-out;
    }
    .slider-box_1 li{
        width: 100%;
        list-style: none;
        position: relative;
    }
    .slider-box_1 img{
        width: 100%;
        height: 100%;
        position: relative;
        
    }




    section{
        height: 1000px;
        background-color: #fff;
    }



/*ICONOS*/
    #icon_blocks{
        background-color: #18377A;
        height: 180px;
        padding: 0 120px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
        #icon_blocks div{
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            height: 60px;
            width: 220px;
        }   
            #icon_blocks div img{
                height: 50px; 
                margin-right: 10px;
            }
            #icon_blocks div span{
                float: right; 
                color: #fff;
                font-size: 18pt;
                line-height: 1.1;
            }

/*PRODUCTOS*/
    /*NUESTROS PRODUCTOS*/
        #productos_destacados{
            margin: 30px 0;
            color: #18377A;
            height: 300px;
            padding: 0 120px;
            display: flex;
            flex-wrap: wrap ;
            align-content: center;
            justify-content: space-between;
        }
            #productos_destacados div img{
                border-radius: 20px;
                width: 400px;
                height: 170px;
            }
            #productos_destacados div h5{
                font-weight: 900;
                text-align: center;
                margin: 10px 0;
            }
    /*NUESTROS PRODUCTOS*/

hr{
    margin: 10px 200px;
}

    /*PRODUCTOS OFERTAS*/  
        #productos_ofertas{
            margin: 70px 0;
            height: 700px;
            padding: 0 100px;
            
        }
            #productos_ofertas h1 {
                color: #18377A;
                text-align: center  ;
            }
            #productos_ofertas #products_box{
                display: flex;
                justify-content: space-between;
                
            }
                #productos_ofertas #products_box div{
                    margin: 50px 0;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
                }
                    #productos_ofertas #products_box div img{
                        background-color: #e6e6e6;
                        width: 300px;
                        height: 310px;
                    }
                    #productos_ofertas #products_box div span{
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                    }   
                        #productos_ofertas #products_box div span .categoria{
                            font-size: small;
                            color: #18377A;
                            margin-bottom: 10px;
                        }
                        #productos_ofertas #products_box div span h5{
                            font-weight: bolder;
                            color: #18377A;
                        }
                        #productos_ofertas #products_box div span .medidas{
                            color: #18377A;
                            width: 80px;
                            text-align: center;
                            margin: 8px 0;
                            background-color: #e6e6e6;
                            font-size: smaller;
                        }
                        #productos_ofertas #products_box div span button{
                            margin: 10px 0;
                            height: 40px;
                            width: 200px;
                            border-radius: 17px;
                            background-color: #09BB1B;
                            border: none;
                            font-weight: bold;
                            font-size: large;
                        }
            #productos_ofertas .button_more{
                margin: 20px;
                width: 280px;
                height: 40px;
                font-size: large;
                font-weight: bold;
                color: #fff;
                border-radius: 70px;
                border: 0;
                background-color: #18377A
            }  
            #productos_ofertas .button_more:hover{
                background-color: #E6BD5C;
                }
/*NUESTROS PRODUCTOS*/

    /*BANNER DE NOTICIAS*/
    .new_banner{
        background-color: aquamarine;
        height: 450px;
        width: auto;
    }

/*CLIENTES*/ 
    .clients_box{
        padding: 50px;
        height: 300px;
        display: flex;
        flex-direction: column;  
    }   
        .clients_box .clients_logo{
            margin:  20px 0;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
        }
            .clients_box .clients_logo div{
                margin: 0;
            }
                .clients_box .clients_logo div img{
                    height: 110px;
                }
/*CLIENTES*/
